:root {
    --bg-color: #090e0c;
    --bg-color: #111;
    --primary-color: #000000;
    --accent-color: #00ff00;
    --text-color: #e0e0e0;
    --subtle-text: #aaaaaa;
    --input-bg: #2a2a2a;
    --border-color: #333;
    --button-border-color: #00ff00;
    --button-bg-color: #000000;
    --button-border-radius: 0px;
    --border-radius: 0;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --padding: 1rem;
}

/* Base body */
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0 auto;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.credentials-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

}

/* Headings */
h1 {
    color: var(--accent-color);
    /* text-align: center; */
    font-size: 1.6rem;
}

#website_title {
    text-align: center;
    color: var(--accent-color);
}

/* Container styling */
.container {
    /* background-color: var(--primary-color); */
    border-radius: var(--border-radius);
    padding: 25px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
    width: 100%;
    max-width: 800px;
}

#input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-bottom: solid 1px #333;
}

#type-and-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#reset_llm_button {
    font-size: 12px;
}

.search-type {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}

#searchType {
    width: 200px;
    padding: 5px;
    font-size: 14px;
}

/* Inputs */
input[type="text"],
#login-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--input-bg);
    color: var(--text-color);
    margin-top: 0.3rem;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(48, 48, 0) inset !important;
    -webkit-text-fill-color: var(--text-color);
}

/* Select */
select {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    background-color: var(--input-bg);
    color: var(--text-color);
}

/* Form */
form {
    margin-top: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* Buttons */
button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: 1px solid var(--button-border-color);
    padding: 0.6rem 1.2rem;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

button:hover {
    background-color: var(--accent-color);
    color: black;
}

button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
/* button[disabled]::after {
    content: "ing... â³";
} */

/* Anchor tags */
a {
    color: silver;
    text-decoration: none;
    font-size: 12px;
}
a:hover {
    color: var(--accent-color);
}

.result_link {
    color: white;
    text-decoration: none;
    background-color: #333b33;
    padding: 5px 8px;
    margin: 0 2px 0 3px;
    font-size: 10px;
    border-radius: 10px;
    font-style: italic;
}
.result_link:hover {
    background-color: var(--accent-color);
    color: black;
}

/* Login Form */
#login-form {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    max-width: 400px;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-form label {
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.95rem;
}

/* Results + Messages */
.results {
    margin-bottom: 100px;
    padding: 15px;
    min-height: 100px;
    word-wrap: break-word;
    line-height: 1.5rem;
}

.token-info,
.error {
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
}

.token-info {
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
    color: var(--subtle-text);
    border-radius: 12px;
}
.error {
    color: #dc3545;
    font-weight: 500;
}


.log {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    font-style: italic;

    background: linear-gradient(
        120deg,
        #a0a0a0 20%,
        white 40%,
        #a0a0a0 60%
    );
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    from {
        background-position: 200% center;
    }
    to {
        background-position: 0% center;
    }
}




/* Code Blocks */
code {
    background-color: #333;
    padding: 3px;
    margin: 2px;
    color: silver;
}

pre > code[class^="language-"] {
    display: block;
    background-color: #151515;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    padding-top: 30px;
    font-family: var(--font-family), Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    position: relative;
    margin: 1em 0;
}

pre > code[class^="language-"]::before {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    color: var(--subtle-text);
    font-size: 0.75em;
    padding: 0.2em 0.5em;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2rem;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
    border: 2px solid #111;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/* Other Elements */
hr {
    margin: 50px 0;
    border-color: #111;
}
li {
    margin: 5px;
}


.spinner {
    /* display: none; */
    border: 2px solid rgba(0,0,0,0.1);
    border-left-color: var(--accent-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-container {
    display: flex;
    gap: 20px;
}


#steps-section {
    display: none;
    padding: 30px;
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
}

#steps-list {
    border-left: solid 4px #333;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #000000;
}

.steps-list-element {
    color: #ffffffc1;
    font-size: 14px;
    margin: 20px 0;
}

#hide-steps-button {
    display: none;
}

#explanation {
    padding: 50px 0;
}